* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
}
/*topbar*/
.topbar-one {
  background: black;
}
.topbar {
  background: black;
  color: #f0f0f0;
  font-size: 14px;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.contact-list {
  gap: 14px;
  display: flex;
  justify-content: flex-end;
}
/*topbar*/
/*Navbar*/
.navbar-nav {
  color: black;
}
.nav-link {
  color: black;
}
.text-white {
  font-size: 20px;
  color: #000;
}
/*Search bar*/
.search-box {
  position: relative;
  max-width: 500px;
}
.search-box input{
padding-right: 30px;
border-radius: 80px;
height: 40px;
padding: 15px;
border: none;

}
.search-btn {
  position: absolute;
  background: black;
  color: aliceblue;
  height: 100%;
  border-radius: 0 20px 20px 0;
  border: 0;
  width: 46px;
  height: 40px;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*Search bar*/
/* End Navbar*/


/*.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
}*/
.product-card {
  position: relative;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.02);
}

.badge-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: green;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.badge-code {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f0f0f0;
  color: #333;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.sold-count {
  color: green;
  font-weight: 600;
}

.price {
  font-weight: bold;
}

.price .original {
  text-decoration: line-through;
  color: #990c0c;
  margin-right: 5px;
}

.btn-order {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.btn-view {
  background: brown;
  color: #f0f0f0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rating {
  color: #f5c518;
  font-size: 0.9rem;
}

/*third Card Item*/
.header {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card {
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transfrom 0.2s;
}
.card:hover {
  transform: scale(1.02);
}
.checked {
  color: orange;
}
.price .orginal {
  text-decoration: line-through;
  color: #888;
  margin-right: 5px;
}
/*End third Card Item*/

/*footer*/
.f-two p:hover{
  transform: scale(1.05);
}
.f-two i:hover{
  transform: scale(1.05);
}
.link p:hover {
    transform: scale(1.05);
}

.link p:hover a:hover{
    transform: scale(1.05);
}
/*Quick Links*/
.btn-dark:hover {
  background: white;
  color: #000;
}
.link p:hover {
  color: #333;
}
/*Quick Links*/
/*icon*/

.icon i:hover {
  color: rgb(5, 87, 87);
  background: #985f09;
}
/*icon*/

/*End footer*/

/*Swiper*/
.mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper .swiper-slide {
  width: 150px;
  height: 100px;
}
.swiper-slide img {
  display: flex;
  width: 150px;
  height: 100px;
}
/*End Swiper*/
/*responsive*/
/*mobile*/
@media (max-width: 576px) {
  .navbar-brand {
    display: none !important;
  }
  .form-control {
    display: none !important;
  }
  /*.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 5px;
    gap: 10px;
    width: 100%;
  }*/
}
/*mobile*/
/*tablet*/
@media (max-width: 768px) {
 /*.navbar img {
    align-items: center;
  }*/
  .navbar-toggler .logo img {
    display: block;
  }
  .form-control {
   width: 90px;
   margin-right: 20px;
  }
 
 .text-white {
  display: none;
 }
 .logo img {
  width: 70px;
  align-items: center;
  justify-content: center;
 }
   /*.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 5px;
    gap: 10px;
    width: 100%;
  }*/
  /*footer */
 /* .footer .row > div {
  min-height: 250px; 
  } */
 /*footer */

}

/*tablet*/
/*desktop*/
@media (max-width: 992px) {
 /*.navbar img {
    align-items: center;
  }*/
  .navbar-toggler .logo img {
    display: block;
  }
  .form-control {
   width: 90px;
   margin-right: 20px;
  }
  
 .text-white {
  display: none;
 }

 .logo img {
  width: 70px;
  align-items: center;
  justify-content: center;
 }
  
}
/*desktop*/

@media (min-width: 1200px) {
  .col-xl-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/*responsive*/
